---
import CssIcon from "./Icons/CssIcon.astro"
import GithubIcon from "./Icons/GithubIcon.astro"
import HtmlIcon from "./Icons/HtmlIcon.astro"
import JavascriptIcon from "./Icons/JavascriptIcon.astro"
import ReactIcon from "./Icons/ReactIcon.astro"
import ShareIcon from "./Icons/ShareIcon.astro"
import TailwindIcon from "./Icons/TailwindIcon.astro"
---


<div class="flex gap-2 ">
    <div class="flex flex-[5%] flex-col justify-center text-center p-4 gap-2 border border-zinc-600 rounded-bl-lg">
        <a href="#"><GithubIcon /></a>
        <p>•</p>
        <a href="#"><ShareIcon /></a>
    </div>
    <div class="flex flex-[90%] justify-center ">
        <img class="border border-zinc-600 grayscale hover:grayscale-0 transition duration-300" src="/public/PixelArt.png">
    </div>
    <div class="flex flex-[5%] flex-col justify-center text-center p-4 gap-2 border border-zinc-600 rounded-br-lg">
        <a href="#"><HtmlIcon /></a>
        <p>•</p>
        <a href="#"><CssIcon /></a>
        <p>•</p>
        <a href="#"><JavascriptIcon /></a>
        <p>•</p>
        <a href="#"><ReactIcon /></a>
        <p>•</p>
        <a href="#"><TailwindIcon /></a>
    </div>
</div>