---
import MoonIcon from "./Icons/MoonIcon.astro";


--- 

<footer class="flex h-[25vh]"> 
    <section class="flex text-center justify-center items-center w-[100%] gap-2">
        <p class="text-zinc-600">Creator, Architect and Designer, by Keiver Luna</p>
        <MoonIcon />
    </section>
</footer>