---
import Logo from "./Icons/Logo.astro";
---

<div class="text-[#D8FFDB]">
    <header id="navbar" class="left-0 w-full flex justify-between items-center text-center shadow-lg transition-transform duration-300">
        <!-- Logo -->
        <div class="p-8">
            <Logo />
        </div>

        <!-- Navegación -->
        <nav class="flex items-center gap-10 font-normal p-4">
            <a href="#" class="hover:text-gray-400 transition duration-300">01.About</a>
            <a href="#" class="hover:text-gray-400 transition duration-300">02.Work</a>
            <a href="#" class="hover:text-gray-400 transition duration-300">03.Contact</a>

            <!-- Botón de resumen -->
            <a href="#" class="px-4 py-2 text-[#D8FFDB] border transition duration-300 hover:bg-[#9AEBA3] hover:text-black cursor-pointer">
                Resumen
            </a>
        </nav>
    </header>
</div>

