---
import CarrucelProyects from "./CarrucelProyects.astro"
---

<section class="flex h-[100vh]">
    <section class="flex-[20%]">

    </section>
    <section class="flex flex-col flex-[55%] pl-28 pt-32">
        <article class="flex flex-col gap-6">
            <div class="flex flex-col gap-1"> 
                <p class="text-normal text-[#DAFDBA]">Main Projects</p>
                <h1 class="font-bold text-2xl">PixelArt Gallery</h1>
            </div>
            <div class="flex bg-zinc-800 p-8 shadow-md ">
                <p class="text-zinc-400">PIxel Gallery, a project made with <span class="text-[#DAFDBA]">React 19</span> and <span class="text-[#DAFDBA]">Tailwind</span>, is a pixel art gallery with the ability to view the image and download it whenever you want.</p>
            </div>
                <section>
                    <CarrucelProyects />
                </section>
            <div></div>
        </article>
        <article class="flex flex-col">

        </article>
    </section>
    <section class="flex-[25%]">

    </section>
</section>